body{
    font-family: 'Lato', sans-serif;
    font-family: 'open sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: white;
    background-color: #FD6E0A;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 35px;
}
/* nav related */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    color: #181818;
font-size: 45px;
font-weight: 800;

}
nav >ul{
    display: flex;
    align-items: center;
}
nav li {
   list-style: none;
   margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
   
}